<!DOCTYPE html>
<!--Name:Cody Register
    Assignment: CS336 Assignment #7
    Created:20201030
    Description: Template Page for the conference site.     -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Regis,Conference,CS336">
    <meta name="description" content="Template page for the conference site">
    <meta name="author" content="Cody Register">
    <meta name="robots" content="nofollow">
    <link rel="stylesheet" href="static/css/webdefault.css">
    <link rel="script" href="static/js/webdefault.css">
    <title>{% block title %}Default Title{% endblock %}</title>

</head>
<body>
<header>
    <nav>
        {% include 'nav.html' %}

    </nav>
</header>
<main>
    {% block body %}
    {% endblock %}

</main>
<footer>
    <address>
        <small> Denver Paper & Ink Arts Convention</small>
        <small> P.O. Box -1, 700 N Colorado Blvd Denver, CO 80206</small>
        <small> 555-867-5309 </small>
        <small> contact@denpiarts.com</small>
        <p>While this web site was created to satisfy the requirement of building a web site for an academic course at
            Regis University, the views and opinions expressed on this web site are solely those of the original author
            and do not necessarily represent the views and opinions of Regis University. </p>
    </address>
</footer>
</body>
</html>