{% extends "base.html" %}
{% block body %}
<div>
    <h1>Denver Paper & Ink Arts Convention</h1>
    <p>Welcome to the 1st Annual Denver Paper & Ink Arts Convention. Though we are primarily focused on calligraphy
        and bookbinding, all forms of art using paper and ink are welcome. This includes painters, designers,
        authors,
        poets, and paper folders. </p>
    <p> August 20, 2021 - August 22, 2021</p>
    <figure>
        <img src="static/images/penholders.jpg" alt="Oblique Nib Holders">
    </figure>
</div>
{% endblock %}