<!DOCTYPE html>
<!--Name:Cody Register
	Assignment: CS336 Assignment #7
Created:20201122
	Description: 10 Name Tags for the conference     -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Regis,Conference,CS336">	<meta name="description" content="10 Nametags for Conference">
	<meta name="author" content="Cody Register">
	<meta name="robots" content="nofollow">
	<link rel="stylesheet" href="css/nametag10.css">
	<title>10 Nametags</title>
</head>
<body>
<div class="container10">	<div class="top">
		<div class="left">
<p><span class="firstname">Jill</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">John</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Lucy</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Benjamin</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Ada</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Bill</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Corrinne</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Donald</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
<p><span class="firstname">Audrey</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Jill2</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
<p><span class="firstname">John2</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Lucy2</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Benjamin2</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Ada2</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Bill2</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Corrinne2</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Donald2</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Audrey2</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
<p><span class="firstname">Jill3</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">John3</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
<p><span class="firstname">Lucy3</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Benjamin3</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Ada3</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Bill3</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Corrinne3</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Donald3</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Audrey3</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Jill4</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
<p><span class="firstname">John4</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Lucy4</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
<p><span class="firstname">Benjamin4</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Ada4</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Bill4</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Corrinne4</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Donald4</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Audrey4</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Jill</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">John</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
<p><span class="firstname">Lucy</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Benjamin</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
<p><span class="firstname">Ada</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Bill</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Corrinne</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Donald</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Audrey</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Jill2</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">John2</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Lucy2</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
<p><span class="firstname">Benjamin2</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Ada2</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
<p><span class="firstname">Bill2</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Corrinne2</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Donald2</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Audrey2</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Jill3</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">John3</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Lucy3</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Benjamin3</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
<p><span class="firstname">Ada3</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Bill3</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
<p><span class="firstname">Corrinne3</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Donald3</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Audrey3</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Jill4</span> <span class="lastname">Jackson</span></p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">John4</span> <span class="lastname">Smith</span></p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Lucy4</span> <span class="lastname">Robertson</span></p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
<p><span class="firstname">Benjamin4</span> <span class="lastname">Reyes</span></p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Ada4</span> <span class="lastname">Lovelace</span></p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
<p><span class="firstname">Bill4</span> <span class="lastname">Gates</span></p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Corrinne4</span> <span class="lastname">Yu</span></p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
<p><span class="firstname">Donald4</span> <span class="lastname">Knuth</span></p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
<p><span class="firstname">Audrey4</span> <span class="lastname">Tang</span></p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
	</div>
</div> </body> </html>