<!DOCTYPE html>
<!--Name:Cody Register
	Assignment: CS336 Assignment #7
Created:20201122Description: 8 Name Tags for the conference     -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="Regis,Conference,CS336">	<meta name="description" content="8 Nametags for Conference">
	<meta name="author" content="Cody Register">
	<meta name="robots" content="nofollow">
	<link rel="stylesheet" href="css/nametag8.css">
	<title>8 Nametags</title>
</head>
<body>
<div class="container8">	<div class="top">
		<div class="left">
			<p class="firstname">Jill</p>
			<p class="lastname">Jackson</p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
			<p class="firstname">John</p>
			<p class="lastname">Smith</p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">Lucy</p>
			<p class="lastname">Robertson</p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
		<div class="right">
			<p class="firstname">Benjamin</p>
			<p class="lastname">Reyes</p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">Ada</p>
			<p class="lastname">Lovelace</p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
			<p class="firstname">Bill</p>
			<p class="lastname">Gates</p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
			<p class="firstname">Corrinne</p>
			<p class="lastname">Yu</p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Donald</p>
			<p class="lastname">Knuth</p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
			<p class="firstname">Audrey</p>
			<p class="lastname">Tang</p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Jill2</p>
			<p class="lastname">Jackson</p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">John2</p>
			<p class="lastname">Smith</p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
			<p class="firstname">Lucy2</p>
			<p class="lastname">Robertson</p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">Benjamin2</p>
			<p class="lastname">Reyes</p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
		<div class="right">
			<p class="firstname">Ada2</p>
			<p class="lastname">Lovelace</p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
			<p class="firstname">Bill2</p>
			<p class="lastname">Gates</p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Corrinne2</p>
			<p class="lastname">Yu</p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
			<p class="firstname">Donald2</p>
			<p class="lastname">Knuth</p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Audrey2</p>
			<p class="lastname">Tang</p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">Jill3</p>
			<p class="lastname">Jackson</p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
			<p class="firstname">John3</p>
			<p class="lastname">Smith</p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">Lucy3</p>
			<p class="lastname">Robertson</p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
		<div class="right">
			<p class="firstname">Benjamin3</p>
			<p class="lastname">Reyes</p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
			<p class="firstname">Ada3</p>
			<p class="lastname">Lovelace</p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
			<p class="firstname">Bill3</p>
			<p class="lastname">Gates</p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
			<p class="firstname">Corrinne3</p>
			<p class="lastname">Yu</p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Donald3</p>
			<p class="lastname">Knuth</p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">Audrey3</p>
			<p class="lastname">Tang</p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Jill4</p>
			<p class="lastname">Jackson</p>
			<p class="position">Web Developer</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">John4</p>
			<p class="lastname">Smith</p>
			<p class="position">IT Manager</p>
			<p class="company">Really Big Company</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
		<div class="right">
			<p class="firstname">Lucy4</p>
			<p class="lastname">Robertson</p>
			<p class="position">Senior Developer</p>
			<p class="company">Walmart</p>
			<p><span class="city">Bentonville</span>, <span class="state">AR</span></p>
		</div>
	</div>
	<div class="bottom">
		<div class="left">
			<p class="firstname">Benjamin4</p>
			<p class="lastname">Reyes</p>
			<p class="position">Quality Control Lead</p>
			<p class="company">Quality Is Us!</p>
			<p><span class="city">Austin</span>, <span class="state">TX</span></p>
		</div>
		<div class="right">
			<p class="firstname">Ada4</p>
			<p class="lastname">Lovelace</p>
			<p class="position">Mathematician</p>
			<p class="company">Regis University</p>
			<p><span class="city">Denver</span>, <span class="state">CO</span></p>
		</div>
	</div>
	<div class="top">
		<div class="left">
			<p class="firstname">Bill4</p>
			<p class="lastname">Gates</p>
			<p class="position">Computer Programmer</p>
			<p class="company">Microsoft</p>
			<p><span class="city">Redmond</span>, <span class="state">WA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Corrinne4</p>
			<p class="lastname">Yu</p>
			<p class="position">Game Programmer</p>
			<p class="company">Naughty Dog</p>
			<p><span class="city">Santa Monica</span>, <span class="state">CA</span></p>
		</div>
	</div>
	<div class = "row">
		<div class="left">
			<p class="firstname">Donald4</p>
			<p class="lastname">Knuth</p>
			<p class="position">Professor</p>
			<p class="company">Stanford University</p>
			<p><span class="city">Standford</span>, <span class="state">CA</span></p>
		</div>
		<div class="right">
			<p class="firstname">Audrey4</p>
			<p class="lastname">Tang</p>
			<p class="position">Software Programmer</p>
			<p class="company">Pugs Project</p>
			<p><span class="city">San Jose</span>, <span class="state">CA</span></p>
		</div>
	</div>
</div> </body> </html>