<!DOCTYPE html>
<!--Name:Cody Register
    Assignment: CS336 Assignment #7
    Created:20201122
    Description: 8 Name Tags for the conference     -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Regis,Conference,CS336">
    <meta name="description" content="8 Nametags for Conference">
    <meta name="author" content="Cody Register">
    <meta name="robots" content="nofollow">
    <link rel="stylesheet" href="css/nametag8.css">
    <title>8 Nametags</title>
</head>
<body>
<div class="container8">
    <div class="top">
        <div class="left">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>

        </div>

        <div class="right">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>
        </div>


    </div>
    <div class="row">
        <div class="left">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>

        </div>

        <div class="right">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>

        </div>

        <div class="right">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>

        </div>

        <div class="right">
            <p class="firstname">firstname</p>
            <p class="lastname">lastname</p>
            <p class="position">position</p>
            <p class="company">company</p>
            <p><span class="city">city</span>, <span class="state">state</span></p>
        </div>


    </div>
</div>

</body>
<footer>
</footer>
</html>
