<!--Name:Cody Register
    Assignment: CS336 Assignment #4
    Created:20201030
    Description: Poll Page for the conference site.     -->
{% extends "base.html" %}
{% block title %}Poll{% endblock %}
{% block body %}
<p>
<address>Text</address></p>
<form>

    <fieldset class="poll">
        <input type="radio" id="opt1" name="Poll" value="Amy Kitcherside">
        <label for="opt1">Amy Kitcherside</label>
        <span id="poll1"> </span>
                  

        <input type="radio" id="opt2" name="Poll" value="Sean Richards">
        <label for="opt2">Sean Richards</label>
        <span id="poll2"> </span>
            
        <input type="radio" id="opt3" name="Poll" value="Andrew Sims">
        <label for="opt3">Andrew Sims</label>
        <span id="poll3"> </span>
				
				<form onsubmit="pollCount()>
				<input type="submit" value="submit">


        <!--<input type="button" value="submit" onclick="pollCount(id)"> -->

    </fieldset>
</form>

{% endblock %}