<!--Name:Cody Register
    Assignment: CS336 Assignment #4
    Created:20201030
    Description: Schedule Page for the conference site.     -->

{% extends "base.html" %}
{% block title %}
Schedules
{% endblock %}

{% block body %}

    <div>
        <table>
            <tr>
                <th>Day</th>
                <th>Session</th>
                <th>Workshop Title</th>
                <th>Speaker</th>
                <th>Room</th>
                <th>Time</th>
            </tr>
            <tr>
                <td colspan="6">Day 1</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">Session 1</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Introduction to Pointed Pen Calligraphy: Copperplate</td>
                <td>Francesca Leigh</td>
                <td>6</td>
                <td>0900 - 1200</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Introduction to Bookbinding: The Coptic Stitch</td>
                <td>Akaash Alfaro</td>
                <td>15</td>
                <td>0900 - 1200</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>The Illuminated Manuscript</td>
                <td>Rojin Rhodes</td>
                <td>4</td>
                <td>0930-1230</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">Session 2</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>The Many Faces of Italic Calligraphy</td>
                <td>Francesca Leigh</td>
                <td>6</td>
                <td>1300 - 1530</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Introduction to Broad Edge Calligraphy: Blackletter</td>
                <td>Rojin Rhodes</td>
                <td>7</td>
                <td>1330 - 1630</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>The History of Paper Marbling Techniques</td>
                <td>Akaash Alfaro</td>
                <td>13</td>
                <td>1230 - 1530</td>
            </tr>
            <tr>
                <td colspan="6">Day 2</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">Session 1</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Homemade Calligraphy Inks: Walnut and Iron Gall</td>
                <td>Francesca Leigh</td>
                <td>13</td>
                <td>1300 - 1530</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Historical Islamic Bookbinding</td>
                <td>Akaash Alfaro</td>
                <td>10</td>
                <td>1300 - 1530</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Pointed Pen Techniques: Flourishing</td>
                <td>Rojin Rhodes</td>
                <td>4</td>
                <td>1300 - 1530</td>
            </tr>
        </table>
    </div>
{% endblock %}